body {
    background: -webkit-linear-gradient(left, gray, white);
} 
h4 {
    border-bottom: 6px groove gray; 
    padding-left: 5px;
    margin-bottom: 20px;
}

h4:hover {
    cursor: pointer;
}

h4 + div {
/*
    height: 0px;
    overflow: hidden;
  */  padding-left: 5px;
    margin: 25px;

}

caption { 
    caption-side: top;
}

td, th{
    border-bottom: 2px groove gray;
    width: 150px;
    text-align: center;
}

p {
    border: 2px ridge pink;
    width: 200px;
    padding: 10px;
    margin: 10px;
}

#rezultat {
    border: 5px groove pink;
}
