<body>
<ng-template #noUser>
<div class="booking-section-2">
<p>
    If you want to book a room in a hotel you should be logged in or registered.
    <br>
    Click here to choose one option and see our wonderful destinations.
</p>
<a [routerLink]="['/login']"><button type="submit" class = "form_button">Login/Register now</button></a>
</div>
</ng-template>

<div *ngIf="currentUser().userRole == 'guest'; else noUser">
<div class = "booking-section">
      <form [formGroup]="createReservationHotel" (ngSubmit)="submitForm()" class="form-inline" action=""> 
       <h4>{{hotel.hotelName}}</h4>
          <div class = "row" >
               <div class = "column">
                        <label for="guests">Number of Guests:</label>
                        <input type="number" id="guestNumber" class = "number" name="guestNumber" formControlName="guests">
                        </div>
                    <div class="column" >
                        <label for="startAt"> Check-in Data</label>
                        <input type="date" id="startdate" name="startDate" formControlName="startAt">
                    </div>
                    <div class = "column">
                        <label for="endAt"> Check-out Data</label>
                        <input type="date" id="enddate" name="endDate" formControlName="endAt">
                    </div>
</div>
            <button [disabled]="!createReservationHotel.valid" type="submit" class = "form_button">Book</button>
      </form>
     </div>

<div id="#map">
<br><br>
<agm-map 
(mapReady)="onMapReady()"
[latitude]="latitude" 
[longitude]="longitude"
[zoom]="13">
    <agm-marker
  [latitude]="latitude" 
  [longitude]="longitude"
  [fillColor]= "'#f44336'"
  [fillOpacity]="0.4"
  >
    </agm-marker>
</agm-map>
</div>
