h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
}

.slider
{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.slider figure div
{
    float: left;
    width: 20%;
}

.slider figure img
{
    width: 80%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.slider figure
{
    position: absolute;
    width: 500%;
    margin-left: 135px;
    margin-right:-50px;
    animation: animate 20s infinite;
}

@keyframes animate
{
    0%  {left: 0%;}
    10% {left:0%;}
    12% {left: -100%;}
    22% {left: -100%;}
    24% {left: -200%;}
    34% {left: -200%;}
    36% {left: -300%;}
    46% {left: -300%;}
    48% {left: -400%;}
    58% {left: -400%;}
    60% {left: -300%;}
    70% {left: -300%;}
    72% {left: -200%;}
    82% {left: -200%;}
    84% {left: -100%;}
    94% {left: -100%;}
    96% {left: 0%;}
}


/* ABOUT US */
#title img
{
	height: 200px;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#title h4
{
	margin-top: 0px;
	text-align: center;
}

/* PACKAGES */
#packages
{
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.box
{
	position: relative;
	width: 400px;
	height: 400px;
	background: #000000;
	margin: 10px;
}

.content
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	align-items: center;
	color: #FFFFFF;
	padding: 20px;
	text-align: center;
}

.content a
{
	display: inline-block;
	margin-top: 10px;
	padding: 10px 20px;
	border: 1px solid #008FFF;
	text-decoration: none;
	color: #FFFFFF;
	transition: 0.5s;
	border-radius: 2px;
}

.content a:hover
{
	color: #FFFFFF;
	background: #008FFF;
	text-decoration: none;
}

.box img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	transition: 0.8s;
}

.box:hover img
{
	-webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}

.pack
{
	text-align: center;
	margin-bottom: 40px;
}
