    <h1>ONE & ONLY</h1>
    <div class="slider">
        <figure>
            <div class="slide">
                <img src="/../../assets/img/home1.jpg">
            </div>
            
            <div class="slide">
                <img src="/../../assets/img/home2.jpeg">
            </div>
            
            <div class="slide">
                <img src="/../../assets/img/home3.jpg">
            </div>
            
            <div class="slide">
                <img src="/../../assets/img/home4.jpg">
            </div>
            
            <div class="slide">
                <img src="/../../assets/img/home5.jpeg">
            </div>
        </figure>
    </div>

    <!-- ABOUT US--> 
    <div id="title">
        <h4>Welcome To</h4>
        <img src="/../../assets/img/logo.png">
    </div>
    
    
    <div class="pack">
    <h3>Our Destinations</h3>
    </div>
    <section id="packages">
        <div class="box">
            <div class="content">
                <div>
                    <h3>DESTINATIONS IN SERBIA</h3>
                    <p>
                     </p>
                    <a [routerLink]="['/serbia-destinations']">View More</a>
                </div>
            </div>
            <img src="/../../assets/img/belgrade.jpg">
        </div>
        <div class="box">
            <div class="content">
                <div>
                    <h3>FOREIGN DESTINATIONS</h3>
                    <p>
                    </p>
                    <a [routerLink]="['/world-destinations']">View More</a>
                </div>
            </div>
            <img src="/../../assets/img/bali.jpg">
        </div>
    </section>

