<div class="container">
    <br>
    <br>
<section id="login">
    <div class="bwm-form border border-pdark">
      <div class="row">
        <div class="col-md-5">
          <h1 class="page-title" style="font-family: 'Karla', sans-serif; font-weight: lighter;">SIGN IN</h1>
          <div *ngIf= "notifyMessage" class="alert alert-success">
            {{notifyMessage}}
          </div>
          <form [formGroup]= "loginForm" (ngSubmit)= "submitForm(loginForm.value)">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email"
                     class="form-control"
                     id="email"
                     formControlName="email">
              <div *ngIf="isInvalidInput('email')"
                  class="alert alert-danger">
                <div *ngIf="isRequired('email')">
                   Email is required
                </div>
                <div *ngIf="loginForm.controls['email'].errors.pattern">
                  Must be valid Email format
               </div>       
              </div>            
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password"
                     class="form-control"
                     id="password"
                     formControlName="password">
            </div>
            <button [disabled]= " !loginForm.valid" type="submit" class="btn btn-secondary" style="background: -webkit-linear-gradient(left, #ACB595, #7B8791);">SUBMIT</button>
          </form>
          <div class="alert alert-danger" *ngIf="errors.length > 0">
            <p *ngFor="let error of errors">
              {{error.details}}
            </p>
          </div>
        </div>
        <div class="col-md-6 ml-auto">
         <div class="container">
            <img class="rounded" src="assets/img/background.jpg" alt="" style="width: 525px; height: 350px;">
            <div class="bottom-left" style="position:absolute; top: 8px;color: #fff;text-align: center;">
                <h6>Don't have an account?</h6>
                <p>Register and explore a lot of awesome places in reach of few clicks.</p>
                <button [routerLink]="['/register']" class="btn btn-secondary" style="background: transparent;color:fff; border-color: honeydew; ">REGISTER</button>
            </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <br>
  <br>
</div>


        
    

 