<body>
<div class="container">
<br>
<br>
        <div class="row">
            <div class="col-md-10 mt-3">
                <h4> Informations about users </h4>
                <div>
               <table>
                <tr><th>Name</th><th>Surname</th><th>Username</th><th>UserRole</th></tr>
                    <tr *ngFor="let u of users">
                      <td>{{u.name}}</td>
                      <td>{{u.surname}}</td>
                      <td>{{u.username}}</td>
                      <td>{{u.userRole}}</td>
                </tr>
               </table>
            
            </div>
</div>
